akka {
    loglevel = INFO
            
     loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
            
    actor {
      #provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
              
      debug {
        receive = on        # log any received messages
        autoreceive = off   # log automatically received messages, e.g PoisonPill
        lifecycle = on      # log actor lifecycle changes
        event-stream = on   # log subscription changes for Akka.Net event stream
        unhandled = on      # log unhandled messages sent to actors
      }
              
      serializers {
        hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
      }
      serialization-bindings {
        "System.Object" = hyperion
      }
    }
  }
}
